@model FlexTesting.WebApp.Models.MainPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    @foreach (var folder in Model.Folders)
    {
        <a href="/Folder/Folders/@folder.Id" class="list-group-item list-group-item-action w-25" >@folder.Name</a>
    }
</ul>