@model FlexTesting.WebApp.Models.MainPageViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center;">
    <h1>Добро пожаловать, @Model.User.FirstName @Model.User.LastName</h1>
    <hr />
</div>