@model IEnumerable<FlexTesting.Core.Contract.Models.Folder>

<div class="float-left" style="width:300px">
    <h4 class="text-center">Ваши проекты</h4>
    <form class="form-inline p-3 flex-nowrap" method="get" action=@Url.Action("FolderSearch", "Folder")>
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Поиск..." aria-label="Поиск">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
    </form>
    <div class="pre-scrollable">
        @foreach (var folder in Model)
        {
            <a href="/Folder/Folders/@folder.Id" class="text-decoration-none" title="@folder.Name">
                <div class="list-group-item list-group-item-action d-flex flex-row justify-content-between">
                    <span class="text-md-left text-truncate d-inline-block mr-md-3">
                        @folder.Name
                    </span>
                    <form method="post" action="@Url.Action("Delete", "Folder", new { id = folder.Id})">
                        <input type="submit" value="x" class="btn btn-outline-danger border-0 px-md-3" />
                    </form>
                </div>
            </a>
        }
        <form method="get" action="@Url.Action("Create", "Folder")">
            <div class="position-absolute" id="btn-add">
                <input type="submit" value="+" class="rounded-circle btn btn-primary justify-content-center align-content-center" />
            </div>
        </form>
    </div>
</div>